# Import Libraries

In [5]:
import pandas as pd
import numpy as np
import pickle

# Model Inference

In [6]:
# melakukan penambahan csv kedalam sebuah dataframe
df = pd.read_csv('/Users/Heru/HCK18/Phase 1/GC5/p1-ftds018-hck-g5-herurmdn7/P1G5_Heru_Inference.csv')
# Display dataframe
df

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6,default_payment_next_month
0,120000.0,1,2,1,24.0,1,-1,5,3,1,...,1296.0,29210.0,15643.0,7545.0,1208.0,2336.0,1232.0,742.0,398.0,0
1,290000.0,2,2,2,39.0,-1,2,1,2,0,...,4146.0,45235.0,90984.0,1689.0,3164.0,4500.0,4480.0,4500.0,5000.0,0
2,51000.0,1,3,1,62.0,3,3,2,-2,4,...,6434.0,200.0,0.0,5641.0,3019.0,800.0,100.0,1900.0,10.0,1

Terdapat 3 data ingin diprediksi, isi tabel tersebut belum pernah dilihat oleh model

## Load Model

In [7]:
# Load model yang digunakan 
with open('model.pkl', 'rb') as file:
  modelsvc = pickle.load(file)

## Prediction

In [4]:
predictions = modelsvc.predict(df)
print(predictions)

[0 0 0]

Hasil prediksi dari 3 data tersebut adalah 0,0,0 dimana artinya ketiga customer/nasabah diprediksi mampu membayar atau tidak akan gagal membayar pada bulan selanjutnya.